<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['new']">Nuevo</button>
            <button type="button" class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['edit']">Editar</button>
            <button type="button" class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['detail']">Detalle</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
